.dashboard{
    width: 50%;
    font-family: "Inter",sans-serif;
    font-weight: 450;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    --primary:#00a9ffa8;
    --secondary:#84C318;    
    --third:#FF6700;
}

.dashboard >* {
    text-align: center;
    padding: 10px;    
    border-radius: 15px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #888888;    
}

.dashboard > div >p{
    margin: 0;
    
} 
.dashboard > div >.nilai{
    font-weight: 600;
    font-size: xx-large;
    border-radius: 15px;
    padding: 0 9px;
} 

.utama1{
    width: 200px;
    background-color: var(--primary);
}
.utama2{
    width: 200px;
    background-color: var(--secondary);
}
.utama3{
    width: 200px;
    background-color: var(--third);
}
.filter{
    font-family: "Inter",sans-serif;
    margin-inline-end: 3em; 
    box-shadow: 5px 5px 10px #888888;   
    border-radius: 0 15px 15px 0;
    max-width: 250px;
    .input-group-text{
        font-weight: 600;
        background-color: b09f9f94;
    }
}
.chart-container{
    z-index: 0;
}